<h1 class="text-center">Edit vendor</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= render "shared/errors", obj: @vendor %>
            <%= render "form" %>
        </div>
        <div>
        <%= link_to "[ Cancel and return to vendor ]", vendor_path(@vendor), class: "text-info" %>
        </div>
            
    </div>
</div>




