<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">change of quantity</th>
      <th scope="col">date</th>
      <th scope="col">action</th>

    </tr>
  </thead>
  <tbody>
  <% @productHistory.each do |productHistory| %>
    <tr>
      <th scope="row" class="text-center"><%= productHistory.change_in_quantity %></th>
      <td><%= productHistory.created_at.in_time_zone("America/Chicago").strftime("%m/%d/%Y %H:%M%p") %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>