
<h1 class="text-center">
    Create new product
</h1>
<%= render "form" %>

<div class="position-absolute closed" style="width:100%; height:100%; top:0;z-index:-1">
<div class="scanner position-absolute d-none" style="top:14.7%;left:25%; width:50%; height:50%;">

</div>
</div>

